/**
 * main.css
 */
body{
  background: #000;
  color: #FAF3F2;
  font-family: "Quicksand";
  font-size: 16px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.modal{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  transition: 800ms all ease-in-out;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.modal.active{
  opacity: 1;
  z-index: 1;
}

.modal.shadow{
  background-color: rgba(0, 0, 0, 1);
}

.modal .modal-container{
  color: #FAF3F2;
  height: 50vh;
  position: fixed;
  transform: translateY(-200%);
  transition: 1s all ease-in-out;
  width: 50vw;
}

.modal .modal-container h1::before{
  background-color: white;
  border-radius: 50%;
  content: ' ';
  height: 20px;
  margin-top: -4%;
  margin-left: -5%;
  position: absolute;
  width: 20px;
}
.modal .modal-container h1::after{
  background-color: white;
  border-radius: 50%;
  content: ' ';
  height: 10px;
  margin-top: 5%;
  position: absolute;
  width: 10px;
}

.modal .modal-container p {
  padding-left: 5%;
  padding-right: 5%;
}

.modal .modal-container .form-control {
  padding-top: 5%;
}

.modal .modal-container .form-control input[type='text']{
  background: transparent;
  border: .1em solid #fff;
  color: #fff;
  font-size: 1.02em;
  outline: none;
  padding: 2%;
  width: 33%;
}
.modal .modal-container .form-control input[type='button']{
  background: #fff;
  border-color: #000;
  color: #000;
  cursor: pointer;
  font-size: 1.02em;
  outline: none;
  padding: 2.2%;
  width: 100px;
}

.modal.active .modal-container{
  transform: translateY(0%);
}

.modal .modal-close {
  color: #aaaaaa;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  float: right;
  margin-right: 2%;
  transform: rotate(90deg);
  transition: 200ms all ease-in-out;
}

.modal .modal-close:hover,
.modal .modal-close:focus {
  color: #404040;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .modal .modal-container{
    width: 80%;
  }

  .modal .modal-container h1::before{
    margin-left: -8%;
  }

  .modal .modal-container p{
    padding: 0;
  }

  .modal .modal-container .form-control input[type='text']{
    width: 80%;
  }
  .modal .modal-container .form-control input[type='button']{
    margin-top: 2%;
    width: 87%;
  }
}

.wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.wrapper .col-game{
  flex: 1;
}

.info-wrapper{
  height: 300px;
  left: 60px;
  position: fixed;
  pointer-events: none;
  top: 215px;
  width: 150px;
}

.info-wrapper .nick{
  font-size: 2.2em;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

.info-wrapper .nick.me{
  color: #09C;
}

.info-wrapper .nick.opponent{
  color: red;
}

.info-wrapper .score{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  margin-top: -10%;
  margin-bottom: 4%;
}

.info-wrapper .record{
  margin-top: -5%;
  margin-bottom: 4%;
}

@media screen and (max-width: 700px) {
  .info-wrapper{
    opacity: 0.8;
    left: 2px;
    top: 80px;
    bottom: 0px;
  }
  .info-wrapper .nick{
    font-size: 1.8em;
  }
  .info-wrapper .score{
    font-size: 3em;
  }
}

.fa-heart{
  color: red;
}

.record-text, .fa-star{

  color: yellow;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.warning h1 {
  animation-name: anim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes anim {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: .2;
  }
}
